body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #000000;
    user-select: none;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background: linear-gradient(325deg, black 5%, #e66465 30%, #9198e5);
	padding: 40px 60px;
}

h2 {
	color: #fff;
	font-size: 2rem;
	text-transform: uppercase;
}

.reset {
	padding: 15px 20px;
	width: 50%;
	color: #000000;
	background-color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
}

.reset:focus {
	color: #ff0000;
	background-color: #000000;
}

.game {
	border: 1px solid #fff;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(5, 100px);
	grid-template-rows: repeat(5, 100px);
	width: 600px;
	height: 500px;
	gap: 0px;
	background-color: rgba(128, 128, 128, 0.219);
	transform-style: preserve-3d;
	perspective: 500px;
}

.card {
	position: relative;
	width: 80px;
	height: 80px;
	display: flex;
	font-size: 3em;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	transform: rotateY(180deg);
	transition: 0.25s;
	background-color: rgb(211, 211, 211);
}

.card::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(
		325deg,
		rgb(204, 189, 59) 5%,
		#64e66b 30%,
		#0015ff
	);
    opacity: 0.85;
	transition: 0.25s;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.card.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen ::after,
.boxMatch ::after {
    transform: rotateY(180deg);
}